en
{% if data.global_config %}
  conf t
  {% if data.global_config.ospf %}
    router ospf {{ data.global_config.ospf.process_id }} {{ "vrf" if data.global_config.ospf.vrf_name else "" }} {{ data.global_config.ospf.vrf_name }}
    {% for network in data.global_config.ospf.networks %}
      network {{ network.ip }} {{ network.wildcard }} area {{ network.area }}
    {% endfor %}
    {% if data.global_config.ospf.default_info_originate %}
      default-information originate
    {% endif %}
    exit
  {% endif %}
  {% for access_list in data.global_config.access_lists %}
    access-list {{access_list.acl_number}} {{access_list.permit_deny}} {{access_list.protocol}}{{" " if access_list.protocol else ""}}{{access_list.source}} {{access_list.destination}} {{ "eq" if access_list.port else "" }} {{access_list.port}}
  {% endfor %}
  {% if data.global_config.line_vty %}
    line vty {{ data.global_config.line_vty.min }} {{ data.global_config.line_vty.max }}
    {% for access_class in data.global_config.line_vty.access_classes %}
      access-class {{ access_class.acl_number }} {{ access_class.in_out }}
    {% endfor %}
    exit
  {% endif %}
  {% for interface in data.global_config.interfaces %}
    int {{ interface.port }}
    {% if interface.nat_in_out %}
      ip nat {{ interface.nat_in_out }}
    {% endif %}
    {% if interface.ip %}
      ip address {{ interface.ip }} {{ interface.net_mask }}
    {% endif %}
    exit
  {% endfor %}
  {% if data.global_config.ip_nat %}
    ip nat {{ data.global_config.ip_nat.in_out }} source list {{ data.global_config.ip_nat.acl_number }} interface {{ data.global_config.ip_nat.interface }} {{ "vrf" if data.global_config.ip_nat.vrf_name else "" }} {{ data.global_config.ip_nat.vrf_name }} {{ "overload" if data.global_config.ip_nat.overload else "" }}
  {% endif %}
  end
{% endif %}
wr